body{
    background-color: aqua;
}
table{
    border-width: 3px;
    border-color: black;
    border-style: solid;
}
.menu{
    color: chocolate;
    font-size: larger;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}